<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Startup Weekend Manager</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
    <meta name="description" content="">
    <meta name="author" content="">
	<meta name="google-site-verification" content="-08lWHK3ItmeCVwzgnPEF_ADabqJhQbUdIYzBoKKY9M" />
    <!-- Le styles -->
    <link href="/media/web/css/bootstrap/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/media/web/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
	
	<link href="/media/web/css/jquery.tweet.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- bootstrap datepicker http://www.eyecon.ro/bootstrap-datepicker/ -->
	<link href="/media/web/css/bootstrap/datepicker.css" rel="stylesheet">
	 
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/media/web/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/web/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/web/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/media/web/ico/apple-touch-icon-57-precomposed.png">
	
	<!-- custom style -->
	<link href="/media/web/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SW Manager</a>
          <div class="nav-collapse">
            <ul class="nav" id="main-menu">
              <li class="nav-item about visible-desktop projects"><a href="#!/public/projects">Projects</a></li>
              <li class="nav-item contact visible-desktop participants"><a href="#!/public/participants">Participants</a></li>
            </ul>
			<ul class="nav pull-right">
				<li id="login">
										
				</li>				
			</ul>
			<div class="login">

			</div>				
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="content">
    		<div class="wrapper" >
    			<div class="proper-content" id="wrapper">
                          {% if device.blackberry %}
                            <h2>Sorry your device is not supported.</h2>
                          {% endif %}
		      	</div><!-- /.proper-content -->
		        <div class="push"></div>
				
    		</div>
			<div class="footer-wrapper">				
				<footer class="container">
					<hr>
				    <p class="powered">
				        Powered by <a href="http://www.rutanmedellin.org"><img src="/media/web/img/thum-rutaN.png"></a> <a href="http://coffeegrid.org"><img src="/media/web/img/cg.png"></a>				
				    </p>
				</footer>
			</div>
		</div>
    </div> <!-- /container -->	

	<div class="modal hide" id="loading">	  
	</div>
	<div id="fb-root"></div>
        {% if not device.blackberry %}
        <!-- Le javascript
             ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
	<script>
		var userAgent = "{{ device.baseline }}";
	</script>
	<script src="/media/web/js/libs/modernizr-2.0.min.js"></script>
	<script src="/media/web/js/libs/respond.min.js"></script>

   	<!-- JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/media/web/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="/media/web/js/libs/jquery.mediaqueries.js"></script>
	<script type="text/javascript" src="/media/web/js/libs/jquery.tweet.js"></script>
	<!-- Countdown https://github.com/hilios/jQuery.countdown -->
	<script type="text/javascript" src="/media/web/js/libs/jquery.countdown.js"></script>


	<!-- loading spinner http://fgnass.github.com/spin.js/ -->
	<script type="text/javascript" src="/media/web/js/libs/spin.min.js"></script>
	<script type="text/javascript" src="/media/web/js/libs/jquery.spin.js"></script>

	<!-- Facebook jsdk -->
	<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	<!-- utilies -->
	<script type="text/javascript" src="/media/web/js/plugins.js"></script>
	<script type="text/javascript" src="/media/web/js/utils.js"></script>
	<script type="text/javascript" src="/media/web/js/cookies.js"></script>

	<!-- Bootstrap -->
    <script src="/media/web/js/bootstrap/bootstrap-transition.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-alert.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-modal.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-tab.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-popover.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-button.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="/media/web/js/bootstrap/bootstrap-typeahead.js"></script>
	<script src="/media/web/js/bootstrap/bootstrap-datepicker.js"></script>
	
	<!-- Backbone.js -->
	<script src="/media/web/js/libs/underscore-min.js"></script>
	<script src="/media/web/js/libs/json2.js"></script>	
	<script src="/media/web/js/libs/backbone.js"></script>

	<!-- init -->
	<script src="/media/web/js/init.js"></script>
	
	<!-- router -->
	<script src="/media/web/js/routers/swmanager.js"></script>
	
	<!-- models -->
	<script src="/media/web/js/models/account.js"></script>
	<script src="/media/web/js/models/invitation.js"></script>
	<script src="/media/web/js/models/user.js"></script>
	<script src="/media/web/js/models/idea.js"></script>
	<script src="/media/web/js/models/project.js"></script>
	<script src="/media/web/js/models/vote.js"></script>
	<script src="/media/web/js/models/event.js"></script>
	
	<!-- collections -->
	<script src="/media/web/js/collections/invitations.js"></script>
	<script src="/media/web/js/collections/users.js"></script>
	<script src="/media/web/js/collections/ideas.js"></script>
	<script src="/media/web/js/collections/projects.js"></script>
	<script src="/media/web/js/collections/events.js"></script>
	<script src="/media/web/js/collections/votes.js"></script>
	
	<!-- views -->
	<script src="/media/web/js/views/auth.js"></script>
	<script src="/media/web/js/views/admin.js"></script>
	<script src="/media/web/js/views/public.js"></script>
	<script src="/media/web/js/views/registration.js"></script>
	
	<!-- templates -->
	<script src="/web/templates.js"></script>	


	{% if mocks %}
	<!-- mocks -->
		<script src="/media/web/js/spec/sinon-1.3.2.js"></script>
		<script src="/media/web/js/mocks.js"></script>
	{% endif %}	
		
        
	<!-- backbone start -->
	<script type="text/javascript">
		$(document).ready(function (){
			App.init();
		});
	</script>

        <script type="text/javascript">
	  window.fbAsyncInit = function() {
          FB.init({
          appId      : '184632058330005', // App ID
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true,  // parse XFBML
          oauth		 : true
          });
	
          // Additional initialization code here
          };

          
          
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32477957-1']);
          _gaq.push(['_setDomainName', 'swmanager.co']);
          _gaq.push(['_trackPageview']);
          
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
          
          

        </script>
        {% endif %}
  </body>
</html>
