.visible-phone {
  display: none;
}
.visible-tablet {
  display: none;
}
.login-btn.visible-desktop {
  display: inline-block;
}
.hidden-phone {
  display: block;
}
.hidden-tablet {
  display: block;
}
.hidden-desktop {
  display: none;
}

@media (max-width: 767px) {
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .login-btn.visible-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}
@media (max-width: 480px) {
 
}
@media (max-width: 767px) {
 
}
@media (min-width: 768px) and (max-width: 979px) {
 
}
@media (max-width: 979px) {
 
}
@media (min-width: 980px) {
  
}
@media (min-width: 1200px) {
 
}

/*
 * body backgroud
 */

body {
	background-image: url('../img/texture.png')
}

/*
 * footer
 */

.powered {
	font-weight: bold;
}

/*
 * stripped tables 
 */

.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th {
	background-color: whiteSmoke;
}

/*
 * overwrite the jquery.tweet.css
 */
.tweet_list .tweet_even {
	background-color: white;
}

.tweet_list li {
	padding: 1.5em;
}

.tweet_list {
	background-color: whiteSmoke;
}

.tweet_list li a {
	color: #08C;
}

/*
 * Registration form centralized
 */
.registrtion-form {
	float: none;
	margin: 0 auto;
}

/*
 * forms labels 
 */

.control-label {
	font-weight: bold;
}


/*
 * tiwtter input control when prenped @ for responsive render
 */

.twitter-input {
	width: 80%;
}


/*
 * Countdown styles
 */
h3 {
    clear: both;
}

div#clock {
    color: white;
    margin: 20px auto;
    /*
     * width: 100%;
     */
	padding: 23px;
    text-align: center;
	line-height: 39px;
}

div#clock p {
    background: #333;
    float: left;
    height: 88px;
    width: 88px;
}

div#clock p span {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 0 0;
}

div#clock div.space {
    color: #ccc;
    display: block;
    line-height: 1.7em;
    font-size: 2em;
    float: left;
    height: 88px;
    width: 30px;
}

div.coupon {
    color: #333 !important;
    font-size: 3em;
    font-weight: bold;
}

div.multi_clock {
    border: 1px solid #666;
    color: #333;
    float: left;
    margin: 10px;
    padding: 5px;
}

pre {
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 1.4em;
    padding: 10px;
    margin: 0;
}

.hero-unit.description {
	padding: 10px;
}

/*
 * admin left navbar
 */

.leftbar {
	margin-bottom: 30px;
}

.nav-list > li > a {
    padding: 5px 14px 5px 31px !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: grey !important;
    text-shadow: 1px 1px 0px white !important;
    height: 18px;
    -moz-transition-property: color !important;
    -webkit-transition-property: color !important;
    -o-transition-property: color !important;
    transition-property: color !important;
    -moz-transition-duration: 0.2s !important;
    -webkit-transition-duration: 0.2s !important;
    -o-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
}

.nav > li > a:hover {
    text-decoration: none !important;
    background-color: transparent !important;
    color: #08C !important;
}

.nav-list > .active > a:hover {
    color: #08C !important;
    text-shadow: 0 -1px 0 white !important;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	color: #08C !important;
    text-shadow: 0 -1px 0 white !important;
    background-color: transparent !important;	
}

h1 {
    margin-bottom: 20px !important;
    border-bottom: 1px solid #CCC !important;
}

