<td>
<h2><%= model.escape("name") %></h2> 
<h6>
	<span>by <img src="<%= model.avatar %>" width="30px"> <%= model.get("participant").first_name %> <%= model.get("participant").last_name %></span>
</h6>
<p>
<%= model.escape("description") %>	
</p>
</td>
