<form class="well form-inline">
  <% if (role == "admins") { %>
  	<h1>Invite admin user</h1>
  <% }else{ %>
  	<h1>Invite participant</h1>
  <% } %>
  <input type="text" name="email" class="span3" placeholder="Email">  <button type="submit" class="btn invite">Invite</button>
  <input type="hidden" name="role" value="<%= role %>">
</form>