<form class="navbar-form pull-right">
	<input type="text" class="span2" placeholder="Username" name="username"> <input type="password" class="input-small" placeholder="Password" name="password"> <a class="btn login-btn">sign in</a>
</form>