<form class="navbar-form pull-right">
	<input type="text" class="span2" placeholder="Username" name="username"> <input type="password" class="span2" placeholder="Password" name="password"> <a class="btn login-btn visible-desktop">sign in</a> <a class="btn btn-large login-btn visible-phone visible-tablet">sign in</a>
</form>