<label class="checkbox">
	<input type="checkbox" class="member" name="team" value="<%= model.id %>" checked>
	<img src="<%= Gravatar(model.email) %>?size=40" title="<%= model.name %>"/>                
</label>