<tr>
    <td>
    	<% if (model.anonymous) { %>
	    	<h2><a class="name" href="#!/public/projects/<%= model.id %>"><%= model.escape("name") %></a></h2>
		<% }else{ %>
			<h2><a class="name" href="#!/admin/projects/<%= model.id %>"><%= model.escape("name") %></a></h2>
		<% } %>		
		<p>
	    	<%= model.escape("description") %>
	    </p>
	</td>
</tr>
