<td class="avatar">
	<img src="<%= model.avatar %>?size=50"/> 
</td>
<td class="info">
	<%= model.escape("email") %>
</td>
<td class="actions">
	<button class="btn btn-primary resend visible-desktop visble-tablet">Resend</button>
</td>
<td class="actions">	
	<button class="btn btn-danger cancel visible-desktop visble-tablet">Cancel</button>
</td>
