<td class="avatar">
	<img src="<%= model.avatar %>?size=50"/> 
</td>
<td class="info">
	<%= model.escape("email") %>
</td>
<td class="actions">
	<button class="btn btn-primary resend">Resend</button>
	<button class="btn btn-danger cancel">Cancel</button>
</td>
